@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.tabhome {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.02857em;
}