@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#menubutton{
  border:none;
}

#nav{
  margin-top: 0px;
  background-color: #C3BAB0;
}
#postagem-button{
 color: #84DCC6;
 font-size: 30px !important;
 text-transform: none;
}

#buttonperficon{
  color: #ffffff;
}

#perfil-button{
  padding:0px;
  height: 100%;
}

h6{
  color: #ffffff;
  font-size: 20px !important;
}

h5{
  color: #FFFEF4;
}

.navlist{
  align-items: center;
}

#logo{
  font-weight: bolder;
  font-family: "Lobster", cursive !important;
  letter-spacing: 2px;
}

.txtdecorationnone{
  text-decoration: none !important;
}

.menunav{
  padding-right: 7px !important; 
  padding-left: 7px !important;
  justify-content: space-evenly !important;
  align-items: space-around !important;
}

